.colanderContainer{
    padding: 50px;
    display: inline-block;
}

.disappear{
    display: none;
}

.denied{
    border: 5px solid #cc0000;
}

#next{
    /*display: none;*/
}

.visible{
    display: inline-block;
}