.colanderContainer{
    padding: 50px;
    display: inline-block;
}

.disappear{
    display: none;
}

.denied{
    border: 5px solid #cc0000;
}

#next{
    /*display: none;*/
}

.visible{
    display: inline-block;
}

@media screen and (max-width: 1125px) {

    /* Body */

    body{
        background-color: #abbec7;
        background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
    }

    /* Navbar */

    .navbar{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-bottom: 2px solid #000033;
    }

    h3{
        font-family: 'Bree Serif', serif;
        margin-left: 10px;
    }

    /* 'How to play' accordion */

    .accordion {
        background-image: linear-gradient(to top, #e6e6ff, #ffffff);
        color: #000000;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        font-family: 'Bree Serif', serif;
        font-size: 16px;
        border-bottom: 1px solid #000033;
        border-right: none;
        outline: none;
        transition: 0.4s;
    }

    .panel {
        padding: 0 18px;
        background-color: #e6e6ff;
        max-height: 0;
        overflow: hidden;
        border-bottom: 1px solid #000033;
        transition: max-height 0.5s ease-out;
        margin-bottom: 5px;
    }

    p{
        font-family: 'Bree Serif', serif;
    }

    /* Scores */

    .scores{
        width: 100%;
    }

    .team{
        font-family: 'Bree Serif', serif;
        font-size: 24px;
        float: left;
        width: 47%;
        padding: 5px;
        background-color: #000000;
        border-radius: 10px;
        border: 5px solid #ffffff;
        box-sizing: border-box;
    }

    .team1{
        float: left;
    }

    .team2{
        float: right;
    }

    h4,h5{
        margin: 0;
        color: #ffffff;
        text-align: center;
    }

    .active{
        border: 5px solid #00b300;
    }

    /* Round */

    .round{
        text-align: center;
    }

    .roundText{
        font-family: 'Bree Serif', serif;
        color: #ffff00;
        font-size: 30px;
    }

    /* Form */

    .colander{
        width: 100%;
    }
    .form{
        width: 75%;
        margin: auto;
        text-align: center;
    }
    input{
        width: 100%;
        font-size: 20px;
        margin: 5px;
        box-sizing: border-box;
        font-family: 'Bree Serif', serif;
    }
    .btn{
        font-family: 'Bree Serif', serif;
        font-size: 20px;
        display: inline-block;
        border: 3px solid #ffffff;
        border-radius: 10px;
        cursor: pointer;
        color: #ffffff;
    }
    .submit{
        padding: 10px;
        width: 75%;
        background-color: #ff9900;
    }

    /* Colander image */

    .img{
        display: block;
        width: 30%;
        height: auto;
        margin: auto;
    }

    /* Begin button */

    .begin{
        display: block;
        padding: 10px;
        background-color: #002266;
        width: 75%;
        margin: auto;
    }

    /* Items */

    #gameMode{
        width: 100%;
        text-align: center;
    }

    #output{
        font-family: 'Bree Serif', serif;
        font-size: 36px;
        color: #ffffff;
    }

    .output{
        font-family: 'Bree Serif', serif;
        font-size: 36px;
        color: #ffffff;
        margin-top: 36px;
    }

    .runningOut{
        color: #cc0000;
    }

    /* Timer */

    #display{
        width: 100%;
        text-align: center;
    }

    #timer{
        font-family: 'Bree Serif', serif;
        font-size: 36px;
        color: #ffffff;
    }

    /* Game buttons */

    .buttons{
        position: absolute;
        bottom: 10px;
        width: 97%;
        height: auto;
    }
    .gameBtn{
        box-sizing: border-box;
        width: 48%;
        padding: 20px;
        margin: 3px;
    }
    #got{
        background-image: linear-gradient(#008800, #00b300);
        margin: auto;
        width: 100%;
        border: 3px solid #00b300;
    }
    #pass{
        background-image: linear-gradient(#990000, #cc0000);
        border: 3px solid #cc0000;
    }
    #next{
        background-image: linear-gradient(#cc7a00, #ff9900);
        float: right;
        border: 3px solid #ff9900;
    }
    #nextRound{
        background-image: linear-gradient(#cc7a00, #ff9900);
        width: 97%;
        border: 3px solid #ff9900;
    }

    /* Disappear */

    .disappear{
        display: none;
    }
}